@font-face {font-family: "iconfont";
  src: url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAK8AAsAAAAABmAAAAJwAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApsgQwBNgIkAwgLBgAEIAWEbQcwG7IFyB6SJIEQAUUB/Ci2EEY8/Lf2u2929oviSTW5ZNFEJtEoiQSxkQKnayg0Jtc0/R+Cm8ocl+SA+SEP1DbNF9zQKAQF7LbzmyuosQbUbbFT1lw+cT/1r4AGku98N5eIoKjkSMCBTQcYVTSyTWjGG8YucAnHCTSMKmE5a+oYAEkya1wgnmSRAUk5ryyzRE2o1CzN4g2UaumFugO8ht+PX7ASSSRlwSq5fGzkQc3nmZ1Cz8ZmPfgE8BHQ6hIFlgGZuK2NnqMFo9Ma0TiTwL4Kg8+zWMy3iL0aBfvrrPwWGIaiexK7klvNTyDH3aOArVG3kPrS1HB4cCO0PFgzdB1qRCJD0ehgKDRQwY/kw9lrQjdmWlmmTDp/7G3n8NsKevNKTGp5hTLt0uVlc2/UEghYPO6xgH+UGqP8/pxRfwDUsH5WXFC3IBD8zfl0ZsV/rZnBx8PGf2jI+tmp7dkW/CFxz6asSy1zyqq41p6Mjhqb0NDAP+zs8zhWN3g7yVAzeFP2qpEUhZppUqYto9S0hoqaQzQsaV7d1A+jRa5j0RJA6HGEpOMdhR73pEx7QGnIOyp6gkbDfeRu2TQbcko9RgxBPGSDUOZchuBYSUpU2IdEU2NwVhoyhhD2ygHosNqLiWZkIDzHDK9PdBIiQAG7dNgETkOa5oJu7FIQR6wSIe4ym02oe5OVc+kgxSkMYRAID2IFQTKOi0HwOxMppc/3QUQmDQO3lNV4hyCYl9w75GBl70FqVhm9yu7lFS8fkRNBCCAB5qKDmsAgRKNxgdz1gxQIh7CSRoTdytjsdkJflXV9jf4BhawKS5/C7leoPCMGcxIAAA==') format('woff2')
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e7b3";
}
